
body {
}

canvas {
    border: 2px solid #888;
    border-radius: 4px;

    width: 100%;
    padding: 0 !important;

    /*image-rendering: pixelated;*/
}

main {
    padding: 5px;
}

#settings_col .btn {
    margin-bottom: 1px
}

#settings_col input {
    padding: 0 !important;
    /*border-radius: 2px;*/
    /*border: 1px solid #888;*/
    /*margin: 5px 0*/
}

#navbar{
    /*min-height: 6vh;*/
    /*max-height: 6vh;*/
    /*margin: 0;*/
    /*padding: 0;*/
    position: sticky;
    top: 0;
    background-color: white;
}

#canvas-row {
    min-height: 75vh;
    max-height: 75vh;
    /*position: relative;*/

    padding: 0;
    margin: 0;
}


.object-list-item {
    border-bottom: 1px solid #888;
    text-align: left;

}

.btn {
    align-items: center;
}

.btn img {
    height: 80%;
}


.row {
    padding: 0 !important;
}


/* vyber farby */
#select_color div {
    padding: 0;
    text-align: center;
}

#settings_col #color_selector {
    border-radius: 2px;
    border: none;
    padding: 2% 1%;
    width: 100%;
}

/* visible switch */
#visible_drawing div {
    padding: 0;
    text-align: center;
}

.form-check-input {
    margin-left: 0 !important;
}

#visible_drawing input {
    width: 60%;
}


/* kreslenie / vymazanie kreslenia */
#pencil_settings div {
    padding: 0;
    text-align: center;
}

#pencil_settings button {
    width: 95%;
}

#pencil_settings button img {
    width: 50%;
}


/*zoznamy*/

.scrollable {
    overflow-y: scroll;
    min-height: 50vh;
    max-height: 50vh;
}

.tab-pane {
    min-height: 60vh;
    max-height: 60vh;
}

.nav-link {
    padding: 10px 15px;
}

/*add step riadok a tlacidlo*/

#add_step {
    /*padding: 0;*/
    /*min-height: 10vh;*/
    /*max-height: 10vh;*/
    /*!*background: pink;*!*/
    align-items: end;
}

#add_step div {
    padding: 0;
    min-height: 10vh;
    max-height: 10vh;
    align-self: end;
    margin: 20% 0 0 0;
}

#add_step input {
    width: 90%;
}

#add_step button {
    width: 100%;
}


